@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-black-400;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 41px;
  width: 240px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.editable-language::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  font-size: 32px;
  content: "×";
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;

  opacity: 0;
  box-shadow: inset 0 0 30px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.12s ease;
}

.editable-language:hover::after {
  opacity: 1;
}

.chat-item .chat-operations {
  visibility: hidden;
}

.chat-item:hover .chat-operations {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
}

.tool {
  position: relative;
}

.tool:hover .tooltip {
  visibility: visible;
}
